{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>
			{{ user.username }}</h1>
    {% if app.user is same as (user) %}
		<a href="{{path('profile_add_capsule', {'id':user.id})}}">+ Ajouter une capsule</a>
    {% endif %}
		<hr>
		<div class="capsule-list">
			{% for capsule in capsules %}
				<div class="capsule brsd">
					<a href="{{path('capsule_index', {'slug_user' : user.slug,'slug_capsule' : capsule.slug})}}">{{capsule.title}}</a>
          <p>{{(capsule.connections | length)}} blocs - 
            {{capsule.updatedat}}
          </p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
