{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>
			{{ user.username }}</h1>
    {% if app.user is same as (user) %}
		<a href="{{path('profile_add_capsule', {'id':user.id})}}">+ Ajouter une capsule</a>
    {% endif %}
		<hr>
		<div class="capsule-list">
			{% for capsule in capsules %}
        {% if app.user is same as capsule.user or app.user in capsule.collaborators %}
        <div class="capsule brsd {{capsule.collaboration ? "collab" : ""}}">
					<a href="{{path('capsule_index', {'slug_user' : user.slug,'slug_capsule' : capsule.slug})}}">{{capsule.title}}</a>
          <p>{{(capsule.connections | length)}} blocs - 
            {{capsule.updatedAtFormatted}}
          </p>
				</div>
        {% else %}
          {% if capsule.isopen %}
            <div class="capsule brsd">
              <a href="{{path('capsule_index', {'slug_user' : user.slug,'slug_capsule' : capsule.slug})}}">{{capsule.title}}</a>
              <p>{{(capsule.connections | length)}} blocs - 
                {{capsule.updatedAtFormatted}}
              </p>
            </div>
          {% endif %}
        {% endif %}
        
			{% endfor %}
		</div>
	</div>
{% endblock %}
