{% extends "base.html.twig" %}

{% block title %}Page d'accueil du site Capsult
{% endblock %}

{% block body %}
	{# {{ include('partials/_nav.html.twig') }} #}
	<main id="content">
		<section class="landing-page_description flex-r ">
			<div class="left">
				<article>
					<h1>Votre dose de culture en capsule</h1>
					<p>Capsult est une application qui vous permet de regrouper vos <strong>passions</strong> dans des <strong>capsules</strong>.</p>
          <p>Inscrivez-vous, organisez et échangez des <strong>blocs</strong> de <strong>culture</strong>.</p>
				</article>
        {% if not app.user %}
				  <a href="{{path('app_register')}}" id="connection-btn">S'inscrire</a>
        {% endif %}
			</div>
			<div class="picture">
				<img id="hourglass" src="{{asset('/img/sablier.webp')}}" alt="sablier">
			</div>
		</section>
		<section class="products-features">
			<article class="base ta-center">
				<h2>Ajouter des blocs au sein de vos capsules</h2>
				<p>
					Les blocs de culture peuvent prendre la forme de texte, d'image ou de lien.
				</p>
        <p>Créez des blocs pour vos propres capsules ou connetez un bloc d'un autre utilisateur à vos capsules.</p>
			</article>
			<div class="card-container flex-r flex-center">
				<div class="bloc-texte">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5 12.24L.5 13.5L1.76 9L10 .8a1 1 0 0 1 1.43 0l1.77 1.78a1 1 0 0 1 0 1.42Z"/></svg>
					<p>
						Écrire un bloc de texte pour exprimer une idée, faire valoir un point de vue ou consigner une pensée.
					</p>
				</div>
				<div class="bloc-image flex-c flex-center"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="white" d="M7 17h10q.3 0 .45-.275t-.05-.525l-2.75-3.675q-.15-.2-.4-.2t-.4.2L11.25 16L9.4 13.525q-.15-.2-.4-.2t-.4.2l-2 2.675q-.2.25-.05.525T7 17Zm-2 4q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.588 1.413T19 21H5Z"/></svg>
          <p>Incorporer des images JPG, GIF et PNG par URL ou par téléchargement de fichier.</p>
				</div>
				<div class="bloc-lien flex-c flex-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256"><path fill="currentColor" d="M137.54 186.36a8 8 0 0 1 0 11.31l-9.94 10a56 56 0 0 1-79.22-79.27l24.12-24.12a56 56 0 0 1 76.81-2.28a8 8 0 1 1-10.64 12a40 40 0 0 0-54.85 1.63L59.7 139.72a40 40 0 0 0 56.58 56.58l9.94-9.94a8 8 0 0 1 11.32 0Zm70.08-138a56.08 56.08 0 0 0-79.22 0l-9.94 9.95a8 8 0 0 0 11.32 11.31l9.94-9.94a40 40 0 0 1 56.58 56.58l-24.12 24.14a40 40 0 0 1-54.85 1.6a8 8 0 1 0-10.64 12a56 56 0 0 0 76.81-2.26l24.12-24.12a56.08 56.08 0 0 0 0-79.24Z"/></svg>
          <p>Intégrez vos liens URL</p>
          <img src="{{asset('img/exemple-lien.png')}}" alt="mise en forme d'un lien url vers un article de blog">
				</div>
			</div>
		</section>


		<section class="get-started ta-center">
			<article class="text-started">
				<h2>Capsult, un espace de m&#233;moire culturelle.</h2>
				<p>
					Ne perdez plus vos souvenirs, vos livres préférés, vos listes de films, vos citations et vos pensées.
				</p>
        <p><em>Partagez</em> les capsules avec les autres.</p>
			</article>
		</section>


		<section class="clients flex-r flex-ac">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<figure>
							<div class="img-overflow">
								<div class="img-icon">
									<img src="{{asset('/img/486.jpeg')}}" alt="">
									<div class="icons">
										<iconify-icon icon="mdi:format-quote-open"></iconify-icon>
									</div>
								</div>
							</div>
							<figcaption>
								<p class="name">Paulo Coelho</p>
								<p>Écrivain</p>
                <blockquote>Emporte dans ta mémoire, pour le reste de ton existence, les choses positives qui ont surgi au milieu des difficultés. Elles seront une preuve de tes capacités et te redonneront confiance devant tous les obstacles.</blockquote>
							</figcaption>
						</figure>
					</div>
					<div class="swiper-slide">
						<figure>
							<div class="img-overflow">
								<div class="img-icon">
									<img src="{{asset('/img/486.jpeg')}}" alt="">
								</div>
							</div>
							<figcaption>
								<p class="name">Milan Kundera</p>
								<p>Dramaturge</p>
                <blockquote>La culture, c'est la mémoire du peuple, la conscience collective de la continuité historique, le mode de penser et de vivre.</blockquote>
							</figcaption>
						</figure>
					</div>
					<div class="swiper-slide">
						<figure>
							<div class="img-overflow">
								<div class="img-icon">
									<img src="{{asset('/img/486.jpeg')}}" alt="">
									<div class="icons">
										<iconify-icon icon="mdi:format-quote-open"></iconify-icon>
									</div>
								</div>
							</div>
							<figcaption>
								<p class="name">Poverbe Grec</p>
								<blockquote>Cultive ta mémoire, c'est le champ où l'expérience dépose les germes de la sagesse.</blockquote>
							</figcaption>
						</figure>
					</div>
				</div>
				<div id="pagination" class="swiper-pagination"></div>
			</div>
		</div>
	</section>
</main>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
	var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>
{% endblock %}
