<section class="bloc-edit">

{{ form_start(form, { 'attr' : { 'class': 'bloc-edit-form' }}) }}
    {% if bloc.content %}
    <div class="form-inner-access">
      {{ form_row(form.content, { 'attr' : { 'class': 'bloc-edit-textarea' }}) }}
    {% endif %}
    <div class="bloc-edit-wrapper {{ bloc.content ? 'margin' : ''}}">
      {{ form_row(form.title) }}
      {{ form_row(form.description) }}
      {{ form_end(form) }}
      <br>

      {{ include('bloc/_delete_form.html.twig') }}

      {% if bloc.content %}
        {% if bloc.capsule %}
        <p>Bloc ajouté par <a href="{{path('profile_index', {'slug':bloc.capsule.user.slug})}}">{{bloc.capsule.user.slug}}</a> le {{bloc.updatedAtFormatted}}</p>
        {% else %}
          <p>Bloc orphelin</p>
        {% endif %}
        {{ include('bloc/_connection_list.html.twig') }}
      {% endif %}
      
      </div>
      {% if bloc.content %}
      </div>
    {% endif %}

</section>
