{{ form_start(form) }}
    {% if bloc.content %}
      {{ form_row(form.content) }}
    {% endif %}
    
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
