{% extends 'base.html.twig' %}

{% block title %}Edit Bloc
{% endblock %}

{% block body %}
	<a class="pd-5 mg-10 flex width-fc br-black br-r5" href="{{ path('capsule_index', {'slug_user':capsule.user.slug, 'slug_capsule':capsule.slug}) }}">{{capsule.title}}</a>
 <div class="bloc-detail-view">
  {% if not bloc.content %}
  <div class="split-pane">
    <div class="left-pane">
      {{ include('bloc/_link.html.twig') }}
      {% if bloc.type is same as ('Image') %}
          <img src="{{ asset('/uploads/'~bloc.image.nomFichier)}}" alt="" loading="lazy">
      {% endif %}
    </div>
  {% endif %}
  
    {% if not bloc.content %}
    <div class="right-pane">
    {% endif %}
      {{ include('bloc/_form.html.twig') }}
    {% if not bloc.content %}
       {% if bloc.capsule %}
      <p>Bloc ajouté par <a href="{{path('profile_index', {'slug':bloc.capsule.user.slug})}}">{{bloc.capsule.user.slug}}</a> le {{bloc.updatedAtFormatted}}</p>
      {% else %}
      <p>Bloc orphelin</p>
      {% endif %}
      {{ include('bloc/_connection_list.html.twig') }}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
