{% extends 'base.html.twig' %}

{% block title %}Bloc index{% endblock %}

{% block body %}
    <h1>Bloc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date_creation</th>
                <th>Date_modification</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bloc in blocs %}
            <tr>
                <td>{{ bloc.id }}</td>
                <td>{{ bloc.titre }}</td>
                <td>{{ bloc.dateCreation ? bloc.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bloc.dateModification ? bloc.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bloc.description }}</td>
                <td>
                    <a href="{{ path('app_bloc_show', {'id': bloc.id}) }}">show</a>
                    <a href="{{ path('app_bloc_edit', {'id': bloc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bloc_new') }}">Create new</a>
{% endblock %}
