{% extends 'base.html.twig' %}

{% block title %}Bloc{% endblock %}

{% block body %}
  <a href="{{ path('capsule_index', {'slug_user':capsule.user.slug, 'slug_capsule':capsule.slug}) }}">back to list</a>
  <br><br>
  {% if bloc.capsule %}
	  <p>Bloc ajouté par <a href="{{path('profile_index', {'slug':bloc.capsule.user.slug})}}">{{bloc.capsule.user.slug}}</a> le {{bloc.updatedAt | date("d/m/Y")}}</p>
  {% else %}
    <p>Bloc orphelin</p>
  {% endif %}
  
  <div class="bloc-display">
    {% if bloc.type == 'Text' %}
    <p>{{bloc.contenu}}</p>
    {% endif %}
    <p>{{bloc.title}}</p>
    <p>{{bloc.description}}</p>
  </div>

  <hr>
	{{ include('bloc/_connection_list.html.twig') }}


{% endblock %}
