{% extends 'base.html.twig' %}

{% block title %}Bloc{% endblock %}

{% block body %}
  <a href="{{ path('capsule_index', {'slug_user':capsule.user.slug, 'slug_capsule':capsule.slug}) }}">back to list</a>
<div class="bloc-detail-view">
  <div class="split-pane">
    <div class="left-pane">
      {% if bloc.type is same as ('Texte') %}
        <p>{{bloc.content}}</p>
      {% elseif bloc.type is same as ('Image') %}
        <img src="{{ asset( uploaded_asset(bloc.image.nomFichier) )}}" alt="" loading="lazy">        
      {% endif %}

      {{ include('bloc/_link.html.twig') }}
    </div>
    
    <div class="right-pane">
    <p class="bloc-title" >
      {{bloc.title ? bloc.title : '--'}}
    </p>

    {% if bloc.description %}
      <strong>Description</strong>
       <p class="bloc-description" >
      {{bloc.description ? bloc.description : '--'}}
    </p>
    {% endif %}

    {% if bloc.capsule %}
      <p>Bloc ajouté par <a href="{{path('profile_index', {'slug':bloc.capsule.user.slug})}}">{{bloc.capsule.user.slug}}</a> le {{bloc.updatedAtFormatted}}</p>
      {% else %}
        <p>Bloc orphelin</p>
      {% endif %}
  
    {{ include('bloc/_connection_list.html.twig') }}
    </div>
  </div>
  </div>
{% endblock %}
