{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.background) }}
    {{ form_row(form.statut) }}
    <button type="submit">Valider</button>
{{ form_end(form) }}
