{% extends 'base.html.twig' %}

{% block title %}Edit Capsule
{% endblock %}

{% block body %}
	<a href="{{ path('capsule_index', {'slug_user':capsule.user.slug, 'slug_capsule':capsule.slug}) }}">back to capsule</a>
	<br><br>
	{{ include('capsule/_form.html.twig') }}

	<hr>
	<p>Mes capsules :</p>
	{% for capsule in app.user.capsules %}
		{% if capsule.open %}
			<a href="#">{{capsule.slug}}
				[{{'ouverte'}}]</a>
    {% else %}
      <a href="#">{{capsule.slug}}
				[{{'scellée'}}]</a>
		{% endif %}

	{% endfor %}
{% endblock %}
