{% extends 'base.html.twig' %}

{% block title %}Bloc index
{% endblock %}

{% block body %}
  <div class="brsd m-a">
    {% if app.user is same as (user) %}
      <a href="{{path('capsule_edit',{'id':capsule.id})}}">/{{capsule.title}}</a>
    {% else %}
      <a href="{{path('capsule_show',{'id':capsule.id})}}">/{{capsule.title}}</a>
    {% endif %}
    <br>
  </div>
  {{ include ('capsule/_like.html.twig')}}
  <br>
  <a href="{{path('profile_index',{'slug':user.slug})}}"><- capsules</a>
  <hr>
  <br>
	<main>
    {{ include ('capsule/_like_list.html.twig')}}
    {{ include ('capsule/_status.html.twig')}}
		<div class="box-constraint">
			<div class="bloc-container">
        {% if app.user is same as (user) %}
				<div class="bloc-item">
					<div class="addBlock">
						<form id="ab-form" action="{{path('capsule_add_bloc', {'id':capsule.id})}}" method="POST" enctype="multipart/form-data">
							<div class="ab-text">
								Collez un lien URL, écrivez directement du texte ou choisissez une image
								<input class="fss" type="file" name="image">
							</div>
							<textarea class="ab-textarea" name="txt_input" class="addBlock-textarea"></textarea>
							<input type="hidden" name="token" value="{{ csrf_token('add-bloc') }}"/>
							<button type="submit" name="submit">-> Ajouter le Bloc</button>
						</form>
					</div>
				</div>
        {% endif %}
        {% if blocs %}
				{% for key, bloc in blocs %}
					<div class="bloc-item">
            {% if bloc['bloc'].lien %}
            <span class="bloc-url">
            <a class="url-wrap" href="{{ bloc['bloc'].lien.url }}" target="_blank">
            <button class="inline-btn">
              <img class="arrow-icon" src="{{asset('/logos/arrow-icon.svg')}}">
            </button>
            </a>
            </span>
            {% endif %}
  
            
            {% if not bloc['bloc'].capsule %}
						<a href="{{path('app_bloc_show', {'bloc_id':bloc['bloc'].id, 'capsule_slug':capsule.slug })}}" class="connection-container">
            {% elseif bloc['bloc'].capsule.user == app.user %}
            <a href="{{path('app_bloc_edit', {'bloc_id':bloc['bloc'].id, 'capsule_slug':capsule.slug })}}" class="connection-container">
            {% else %}
						<a href="{{path('app_bloc_show', {'bloc_id':bloc['bloc'].id, 'capsule_slug':capsule.slug })}}" class="connection-container">
            {% endif %}
								{% if bloc['bloc'].content | escape %}
							  <div class="bloc-txt">
									<p>{{ bloc['bloc'].content|striptags|length > 300 ? bloc['bloc'].content|striptags|slice(0,300) ~ '...' : bloc['bloc'].content|striptags }}</p>
							  </div>
								{% elseif bloc['bloc'].type is same as ("Image") %}
							  <div class="bloc-img">
									<img src="{{ asset('/uploads/'~bloc['bloc'].image.nomFichier) | imagine_filter('my_thumb') }}" alt="#" loading="lazy">
							  </div>
								{% else %}
							  <div class="bloc-link">
                  <img class="link-thumb" src="{{ bloc['bloc'].lien.thumb }}" alt="link thumb" loading="lazy">
							  </div>
								{% endif %}
                {% if app.user %}
                  <a href="{{path('capsules_connection', {'user_slug':app.user.slug,'capsule_slug':capsule.slug, 'id':bloc['bloc'].id})}}">-> Connecter</a>
                {% else %}
                  <a href="{{path('app_register')}}">-> Connecter</a>
                {% endif %}
                {% if bloc['bloc'].capsule %}
                  {% if capsule.user.id == bloc['bloc'].capsule.user.id %}
                    <p>ajouté par {{user.username}}</p>
                  {% else %}
                    <p>connecté par {{user.username}}</p>
                  {% endif %}
                {% else %}
                  <p>connecté par {{app.user.username}}</p>
                {% endif %}
						</a>
					</div>
				{% endfor %}
        {% endif %}

			</div>
		</div>
	</main>
    
{% endblock %}
