{% extends 'base.html.twig' %}

{% block meta %}
<meta
  name="description"
  content="{{app.user.slug}}'s capsule">
{% endblock %}

{% block title %}Capsule index{% endblock %}

{% block body %}
  <section class="top-bar flex-r">
    {% if app.user %}
    <div class="controls-wrapper flex-r jc-sb f-2 flex-center">
    {% else %}
    <div class="controls-wrapper flex-r f-2 flex-center">
    {% endif %}
      {% if app.user %}
      <div class="explore-control hidden">
        <button class="explore-btn br l-btn control-color" data-action="explore">explorer</button>
        {{ include ('capsule/_explore.html.twig')}}
      </div>
      {% endif %}
          {% if app.user is same as (user) %}
          <div class="inherit control-color">
          <a class="title br-r5 br l-btn height-fc" href="{{path('capsule_edit',{'id':capsule.id})}}">
              /{{capsule.title}}
          </a>
          </div>
          {% else %}
          <p class="br-r5 br l-btn height-fc">
            /{{capsule.title}}
          </p>
          {% endif %}
        {% if app.user is same as (user) %}
        <a class="add-btn l-btn br-black br-r5 height-fc" href="{{path('add_capsule', {'id':capsule.id})}}">
          <div class="plus-sign">
          </div>
            + Nouvelle capsule
        </a>
        {% endif %}
      </div>
    </section>

    <button class="btn-details l-btn br-black br-r5 ">
      Détails
      <svg class="rotate" width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.9993 1L7 10.0921L1.00075 1L12.9993 1Z" fill="#D9D9D9" stroke="black"/>
      </svg>
    </button>
    <section class="middle-info flex-c flex-center">
      <div class="middle-info-top flex-r flex-center gap-10">
      {% if capsule.connections %}
      {{ include ('capsule/_status.html.twig')}}
      <div class="bloc-number br-black br-r5 width-fc pd-5 font-s mg-5 ">
        {{(capsule.connections | length)}} blocs
      </div>
      {% endif %}
      {{ include ('capsule/_like.html.twig')}}
      </div>
      {% if capsule.description %}
      <div class="description br-black br-r5 width-fc pd-5 font-s mg-5">
        Description : {{capsule.description | striptags | length > 150 ? capsule.description|striptags|slice(0,150) ~ '...' : capsule.description}}
      </div>
      {% endif %}
    </section>
    
  <div class="nav-btn">
    <a class="l-btn br-black br-r5" href="{{path('profile_index',{'slug':user.slug})}}">Retour Profil</a>
  </div>
	<div class="box-constraint">
    <main>
        <div class="bloc-container">
          {% if app.user is same as (user) or app.user in capsule.collaborators %}
          <div class="bloc-item afs">
            <div class="addBlock">
              <form id="ab-form" action="{{path('capsule_add_bloc', {'id':capsule.id})}}" method="POST" enctype="multipart/form-data">
                <div class="ab-text">
                  Collez un lien URL, écrivez directement du texte ou choisissez une image
                  <input class="font-s" type="file" name="image">
                </div>
                <textarea class="ab-textarea" name="txt_input" class="addBlock-textarea"></textarea>
                <input type="hidden" name="token" value="{{ csrf_token('add-bloc') }}"/>
                <button type="submit" name="submit">-> Ajouter le Bloc</button>
              </form>
            </div>
          </div>
          {% endif %}
          {% if blocs %}
            {% for key, bloc in blocs %}
            <div class="bloc-item flex-c flex-center">
              <div class="bloc-connection-wrapper flex-c flex-center br-r5">
                {% if bloc['bloc'].lien %}
                <div class="link-wrapper">
                <span class="bloc-url">
                  <a class="url-wrap" href="{{ bloc['bloc'].lien.url }}" target="_blank">
                    <button class="inline-btn">
                      <img class="arrow-icon" src="{{asset('/logos/arrow-icon.svg')}}">
                    </button>
                  </a>
                </span>
                {% endif %}
                {% if not bloc['bloc'].capsule %}
                <a href="{{path('app_bloc_show', {'bloc_id':bloc['bloc'].id, 'capsule_slug':capsule.slug })}}" class="connection-container">
                {% elseif bloc['bloc'].capsule.user == app.user or app.user in capsule.collaborators %}
                <a href="{{path('app_bloc_edit', {'bloc_id':bloc['bloc'].id, 'capsule_slug':capsule.slug })}}" class="connection-container">
                {% else %}
                <a href="{{path('app_bloc_show', {'bloc_id':bloc['bloc'].id, 'capsule_slug':capsule.slug })}}" class="connection-container">
                {% endif %}
                {% if bloc['bloc'].content | escape %}
                <div class="bloc-txt">
                  <p>{{ bloc['bloc'].content|striptags|length > 300 ? bloc['bloc'].content|striptags|slice(0,300) ~ '...' : bloc['bloc'].content }}</p>
                </div>
                {% elseif bloc['bloc'].type is same as ("Image") %}
                <div class="bloc-img" referrerpolicy="no-referrer">
                  <img src="{{ uploaded_asset(bloc['bloc'].image.nomFichier) | imagine_filter('my_thumb') }}" alt="{{ bloc['bloc'].title ? bloc['bloc'].title : 'uploaded image'}}" loading="lazy">
                </div>
                {% else %}
                <div class="bloc-link">
                  {% if bloc['bloc'].lien.thumb %}
                  <img class="link-thumb" src="{{ bloc['bloc'].lien.thumb }}" alt="link thumb" loading="lazy">
                  {% elseif bloc['bloc'].lien.url matches "/\.(jpg|jpeg|gif|png|tiff|bmp)$/" %}
                  <img src="{{bloc['bloc'].lien.url}}" alt="">
                  {% else %}
                  <p>{{bloc['bloc'].lien.url}}</p>
                  {% endif %}
                </div>
                {% endif %}
                </a>
                {% if bloc['bloc'].lien %}
                </div>
                {% endif %}
                {% if app.user %}
                <a class="connection" href="{{path('capsules_connection', {'user_slug':app.user.slug,'capsule_slug':capsule.slug, 'id':bloc['bloc'].id})}}"><img src="{{asset('logos/arrow-icon.svg')}}" alt="Logo flèche"> Connecter</a>
                {% else %}
                <a class="connection" href="{{path('app_register')}}"><img src="{{asset('logos/arrow-icon.svg')}}" alt="Logo flèche"> Connecter</a>
                {% endif %}
                </div>
                {% if bloc['bloc'].capsule %}
                  {% if capsule.user.id == bloc['bloc'].capsule.user.id %}
                    <p id="autor" class="font-s pd-5">ajouté par {{bloc['bloc'].user.username}}</p>
                  {% else %}
                    <p id="autor" class="font-s pd-5">connecté par {{bloc['bloc'].user.username}}</p>
                  {% endif %}
                {% else %}
                  <p id="autor" class="font-s pd-5">connecté par {{app.user.username}}</p>
                {% endif %}
                </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {{ include ('capsule/_like_list.html.twig')}}
    </main>
  </div>
{% endblock %}
