{% extends 'base.html.twig' %}

{% block body %}
  <main id="explorable-index">
    <h1>Bienvenue sur l'espace explorable</h1>
    <section class="open-capsules-list">
      {% if explorable_capsules is not empty %}
      <ul class="flex-r flex-center gap-10">
        {% for capsule in explorable_capsules %}
        <li class="capsule br-r5 mg-5 br-black {{capsule.collaboration ? " collab" : " "}}">
            <div class="flex-r gap-5">
              <a href="{{path('capsule_index', {'slug_user' : capsule.user.slug,'slug_capsule' : capsule.slug})}}">
                <h2 class="capsule-title">{{capsule.title}}</h2>
                <p class="capsule-meta d-ib br-r10 br-black pd-5">{{(capsule.connections | length)}} blocs</p>
                <p class="capsule-meta d-ib br-r10 br-black pd-5"> {{capsule.updatedAtFormatted}}</p>
              </a>
              {{ include ('capsule/_status.html.twig')}}
            </div>
            {% if app.user %}
            <a href="{{path('profile_index', {'slug':app.user.slug})}}">{{capsule.user.username}}</a>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>
    <div class="explore-pagination">
    {{ knp_pagination_render(explorable_capsules)}}
    </div>
    {% else %}
      <p>L'espace explorable est vide.</p>
    {% endif %}
  </main>
{% endblock %}
