{% extends 'base.html.twig' %}

{% block title %}Show Capsule
{% endblock %}

{% block body %}
	<a href="{{ path('capsule_index', {'slug_user':capsule.user.slug, 'slug_capsule':capsule.slug}) }}">back to capsule</a>
	<br><br>
  <p>{{capsule.title}}</p>
  <p>{{capsule.description}}</p>

	<hr>
	<p>Mes capsules :</p>
	{% for capsule in app.user.capsules %}
		{% if capsule.open %}
			<a href="{{path('capsule_index', {'slug_user': app.user.slug, 'slug_capsule':capsule.slug})}}">{{capsule.slug}}
				[{{capsule.status}}]</a>
    {% else %}
      <a href="#">{{capsule.slug}}
				[{{capsule.status}}]</a>
		{% endif %}
	{% endfor %}
{% endblock %}