{% extends 'base.html.twig' %}

{% block title %}Connecter une capsule
{% endblock %}

{% block body %}
<a href="{{path('capsule_index', {'slug_capsule':current_capsule.slug, 'slug_user':user.slug})}}">back to {{current_capsule.slug}}</a>
<p>Connecter à</p>
	<div>
		{% for capsule in capsules %}
      {% if capsule.id != bloc.capsule.id %}
			<a href="{{path('app_connection', {'slugUser': user.slug, 'slugCapsule': current_capsule.slug,'idCapsule':capsule.id, 'idBloc':bloc.id})}}">{{app.user.username}} / {{capsule.title}}</a><br>
    {% endif %}
		{% endfor %}
	</div>

{% endblock %}
